<%- include('partials/header.ejs')  %>
<section id="content">
<main>
  <div class="head-title">
    <div class="left">
      <h1>Dashboard</h1>
      <ul class="breadcrumb">
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li><i class='bx bx-chevron-right' ></i></li>
        <li>
          <a class="active" href="#">Home</a>
        </li>
      </ul>
    </div>
    <a href="#" class="btn-download">
      <i class='bx bxs-cloud-download' ></i>
      <span class="text">csv</span>
    </a>
  </div>
    <li>
      <i class='bx bxs-group' ></i>
      <span class="text">
        <h3>show number here 9</h3>
        <p>Active Users</p>
      </span>
    </li>

    <div class="todo">
      <div class="head">
        <h3>Todos</h3>
        <i class='bx bx-plus' ></i>
        <i class='bx bx-filter' ></i>
      </div>
      <ul class="todo-list">
        <li class="completed">
          <p>Todo List</p>
          <i class='bx bx-dots-vertical-rounded' ></i>
        </li>
        <li class="completed">
          <p>Todo List</p>
          <i class='bx bx-dots-vertical-rounded' ></i>
        </li>
        <li class="not-completed">
          <p>Todo List</p>
          <i class='bx bx-dots-vertical-rounded' ></i>
        </li>
        <li class="completed">
          <p>Todo List</p>
          <i class='bx bx-dots-vertical-rounded' ></i>
        </li>
        <li class="not-completed">
          <p>Todo List</p>
          <i class='bx bx-dots-vertical-rounded' ></i>
        </li>
      </ul>
    </div>
  </div>
</main>
</section>