<%- include('partials/header.ejs')  %>
<section id="content">
<main>
  <div class="head-title">
    <div class="left">
      <h1>Dashboard</h1>
  
      <span class="text">
        <p>Active Users   <i class='bx bxs-group' ></i> 13</p>
      </span>
</main>
</section>