<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UxShowGo-Admin</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    />
    <style>
      .login-card {
        margin-top: 10vh;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: black;
        color: floralwhite;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      .login-button {
        background-color: #ff7b00; /* Bootstrap primary but can choose something more vibrant */
        border: none;
      }
      .login-button:hover {
        background-color: #f26a15; /* Darker shade on hover */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card login-card">
            <div class="card-header text-center">
              <img
                src="/UxShowGoDark.png"
                alt="Logo UX SHOW GO"
                class="w-100 mb-3"
              />
              <h1>Welcome Admin!</h1>
              <p>Please log in to access the admin panel.</p>
            </div>
            <div class="card-body">
              <form action="/admin/login" method="post">
                <div class="mb-3">
                  <label for="email" class="form-label">E-mail</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    aria-describedby="emailHelp"
                    placeholder="Enter your email"
                    autocomplete="email"
                  />
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Enter your password"
                    autocomplete="current-password"
                  />
                </div>
                <div class="mb-3 text-center">
                  <button type="submit" class="btn btn-primary login-button">
                    Login
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
