<%- include('partials/header.ejs')  %>
<nav class="sidebar">
  <a href="#" class="brand">
    <img src="/UxShowGoDark.png" alt="Logo UX SHOW GO" class="w-100" />

</a>

    <ul class="side-menu top">
        <li class="active">
            <a href="#">
                <i class='bx bxs-dashboard' ></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-credit-card'></i>
                <span class="text">Payment</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-star' ></i>
                <span class="text">Premium</span>
            </a>
        </li>
        <li>
            <a href="https://ciccc-wmad.slack.com/archives/C05268B22EP" target="_blank" rel="noopener noreferrer">
                <i class='bx bxl-slack' ></i>
                <span class="text">Slack</span>
              </a>
              
        </li>

        <li>
            <a href="#">
                <i class='bx bxs-cog' ></i>
                <span class="text">Settings</span>
            </a>
        </li>
        <li>
            <a href="#" id="calendar-toggle" class="btn">
                <i class='bx bx-calendar'></i>
                <span class="text">Calendar</span>
            </a>
            <div id="calendar-container" class="calendar-sidebar" style="display:none;"></div> 
        </li>
        <li>
            <form action="/admin/logout" method="post">
                <button type="submit" class="btn  "> 
                    <i class='bx bxs-log-out-circle' ></i>Logout
                </button>
            </form>
        </li>
</nav>

<!-- Calendar Script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript">
    (function(d, t) {
        var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
        v.onload = function() {
          window.voiceflow.chat.load({
            verify: { projectID: '6627456d92e9f95beaa21cef' },
            url: 'https://general-runtime.voiceflow.com',
            versionID: 'production'
          });
        }
        v.src = "https://cdn.voiceflow.com/widget/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
    })(document, 'script');
  </script>
<script>
$(document).ready(function() {
    
    $("#calendar-container").datepicker({
        showButtonPanel: true
    });

  
    $('#calendar-toggle').click(function(e) {
        e.preventDefault();
        $("#calendar-container").toggle(); 
    });
});
</script>