<footer>
  <div class="footer-col">
    <h3>Footer</h3>
    <ul>
      <li>
        <a href="#">Link 1</a>
      </li>
      <li>
        <a href="#">Link 2</a>
      </li>
      <li>
        <a href="#">Link 3</a>
      </li>
    </ul>
  </div>
</footer>
</body>
</html>